.center-image {
  display: block; 
  margin-left: auto;
  margin-right: auto;
}
.image-container {
  display: flex;
  justify-content: space-between; /* Пример: распределить пространство между картинками */
}